h1 {
    font-family: Georgia;
    color:rgb(97, 40, 151)
}

h2 {
    font-family: Georgia;
    text-decoration: underline;
    color:rgb(97, 40, 151)
}

.list {
    list-style: none;
    font-family: Georgia;
    display: grid;
    grid-template-columns: repeat(3,1fr); 
}

.list-blocks {
    margin: 2%;
    padding: 2px;
    background-color: rgb(141, 88, 189);
    border: 1px solid black;
}



